body
{
	background-color: pink;
	animation: test_animation 20s infinite linear;
			}
			@keyframes test_animation
			{
				0%{background-color:yellow; }
				10%{background-color: grey;}
				20%{background-color: blue;}
				30%{background-color: pink;}
				40%{background-color: white;}
				50%{background-color: orange;}
				60%{background-color: red;}
				70%{background-color: green;}
				80%{background-color: black;}
				90%{background-color: purple;}
				100%{background-color: silver;}

}

h2
{
	padding-right: 50px;
	text-align: center;
	size: 50px;
	font-style: bold;
	color: rgb(255, 0, 0);
	
}
#heading_no_1
{
	text-align: right;
	color: black;
	font-family: impact;
	font-size: 100px;
}

#paragraph_no_1
{
	color: red;
	font-family: impact;
	font-size: 30px;
}